[submodule "sample-auth-cognito"]
	path = sample-auth-cognito
	url = https://github.com/shaloo/sample-auth-cognito.git
	branch = main
[submodule "sample-auth-social-login"]
	path = sample-auth-social-login
	url = https://github.com/shaloo/sample-auth-social-login.git
	branch = main
[submodule "sample-auth-firebase"]
	path = sample-auth-firebase
	url = https://github.com/shaloo/sample-auth-firebase.git
	branch = main
[submodule "sample-auth-web3-react"]
	path = sample-auth-web3-react
	url = https://github.com/shaloo/sample-auth-web3-react.git
	branch = main
[submodule "sample-auth-react"]
	path = sample-auth-react
	url = https://github.com/shaloo/sample-auth-react.git
	branch = main
[submodule "sample-auth-nextjs"]
	path = sample-auth-nextjs
	url = https://github.com/shaloo/sample-auth-nextjs.git
	branch = main
[submodule "sample-auth-html-css-js"]
	path = sample-auth-html-css-js
	url = https://github.com/shaloo/sample-auth-html-css-js.git
	branch = main
[submodule "sample-auth-wagmi"]
	path = sample-auth-wagmi
	url = https://github.com/shaloo/sample-auth-wagmi.git
	branch = main
[submodule "sample-auth-rainbowkit"]
	path = sample-auth-rainbowkit
	url = https://github.com/shaloo/sample-auth-rainbowkit.git
	branch = main
[submodule "sample-auth-vue"]
	path = sample-auth-vue
	url = https://github.com/shaloo/sample-auth-vue
	branch = main
[submodule "sample-auth-flutter"]
	path = sample-auth-flutter
	url = https://github.com/shaloo/sample-auth-flutter.git
[submodule "sample-auth-react-native"]
	path = sample-auth-react-native
	url = https://github.com/shaloo/sample-auth-react-native.git
[submodule "sample-auth-unity"]
	path = sample-auth-unity
	url = https://github.com/shaloo/sample-auth-unity
[submodule "sample-auth-rainbow-viem"]
	path = sample-auth-rainbow-viem
	url = https://github.com/shaloo/sample-auth-rainbow-viem.git
[submodule "sample-auth-wagmi-viem"]
	path = sample-auth-wagmi-viem
	url = https://github.com/shaloo/sample-auth-wagmi-viem.git
	branch = main
[submodule "sample-auth-core"]
	path = sample-auth-core
	url = https://github.com/shaloo/sample-auth-core.git
	branch = main
[submodule "sample-auth-vue"]
	branch = main
[submodule "sample-auth-rainbowkit-viem"]
	branch = main
[submodule "sample-auth-solana"]
	path = sample-auth-solana
	url = https://github.com/shaloo/sample-auth-solana.git
	branch = main
[submodule "sample-gasless-metamask-only"]
	path = sample-gasless-metamask-only
	url = https://github.com/shaloo/sample-gasless-metamask-only
	branch = main
[submodule "sample-gasless-multi-wallet"]
	path = sample-gasless-multi-wallet
	url = https://github.com/shaloo/sample-gasless-multi-wallet.git
	branch = main
[submodule "sample-gasless-arcana-only"]
	path = sample-gasless-arcana-only
	url = https://github.com/shaloo/sample-gasless-arcana-only.git
	branch = main
